:org.apache.felix.configadmin.revision:=L"3"
_lastChangeAt="2023-01-22T18:25:29"
_lastChangeBy="UNDEFINED"
alias="Core.AppManager"
apps="[\n\ \ {\n\ \ \ \ \"appId\":\ \"App.Api.ModbusTcp.ReadOnly\",\n\ \ \ \ \"alias\":\ \"\",\n\ \ \ \ \"instanceId\":\ \"60d7333f-ef3d-43b9-8961-08ef731e8946\",\n\ \ \ \ \"properties\":\ {\n\ \ \ \ \ \ \"CONTROLLER_ID\":\ \"ctrlApiModbusTcp0\"\n\ \ \ \ }\n\ \ },\n\ \ {\n\ \ \ \ \"appId\":\ \"App.Api.RestJson.ReadOnly\",\n\ \ \ \ \"alias\":\ \"\",\n\ \ \ \ \"instanceId\":\ \"11115951-c868-4739-a6b0-8e51f6f99dfe\",\n\ \ \ \ \"properties\":\ {\n\ \ \ \ \ \ \"CONTROLLER_ID\":\ \"ctrlApiRest0\"\n\ \ \ \ }\n\ \ }\n]"
id="_appManager"
service.bundleLocation="?"
service.pid="Core.AppManager"
