:org.apache.felix.configadmin.revision:=L"2"
_lastChangeAt="2023-01-22T18:25:29"
_lastChangeBy="UNDEFINED"
alias="REST/JSON\ lesend"
debugMode=B"false"
enabled=B"true"
id="ctrlApiRest0"
port=I"8084"
service.factoryPid="Controller.Api.Rest.ReadOnly"
service.pid="Controller.Api.Rest.ReadOnly.fa382062-22d0-40d9-9cbd-006f131ed0dc"
